.log-button {
  background: $blue-gradient;
  color: white;

  &:hover {
    background: $blue-gradient-hover;
    color: white;
  }
}

.btn-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue-gradient;
  transition: background 0.3s ease;
  border: none;
}

.btn-blue:hover {
  background: $blue-gradient-hover;
  color: white;
}

.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  // font-weight: bold;
  background: $green-gradient;
  transition: background 0.3s ease;
  border: none;
}

.btn-green:hover {
  background: $green-gradient-hover;
  color: white;
}


