.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  width: 80%;
  margin: 50px auto 0;

  a {
    color: #4e4d4d;
  }

  a:hover {
    text-decoration: none;
    color: #5f5f5f;
    transform: scale(1.01);
  }
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.card-product h3 {
  font-size: 16px;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  // opacity: .7;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.heart .fa-heart {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #e06666;

  &:hover {
    color: #de7373;
  }
}
// -------------------------------------------------

.product-show-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.card-product-show {
  overflow: hidden;
  height: 500px;
  width: 550px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-product-show img {
  height: 500px;
  width: 550px;
  object-fit: cover;
}

.show-card-product-infos {
  overflow: hidden;
  height: 500px;
  width: 50vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.heart-show .fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #e06666;
  font-size: 30px;

  &:hover {
    color: #de7373;
  }
}

// -------------------------------------------------

.main-item-container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 50px auto 0;
  gap: 20px;
}

.order-item-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  // width: 50%;
  // margin: 50px auto 0;
}

.order-item-card {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-item-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.order-item-card h3 {
  font-size: 16px;
  margin: 0;
}

.order-item-card p {
  font-size: 14px;
  line-height: 1.4;
  // opacity: .7;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 8px;
}

.order-item-infos {
  padding: 16px;
  height: 100%;
  text-align: center;
}

.payment-card {
  overflow: hidden;
  height: 50vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

// -------------------------------------------------

.add-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.add-product-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 60%;

  h4 {
    text-align: center;
    margin-top: 20px;
  }
}

.form-group {
  padding: 10px;
}

.btn-add {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-add {
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
