.filter-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
 width: 90%;
 position: fixed;
 z-index: 1;
 background-color: white;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 border-radius: 5px;

 form {
  width: 80%;
  display: flex;
 }

 .fa-search {
  color: #6b6b6b;

  &:hover {
    color: #a5a5a5;
  }
 }
}

.dropd-filter {
  height: 30px;
  padding: 0px 10px;
  border: none;
  flex-grow: 1;
  border-radius: 15px;
  background-color: transparent;
  margin: 0 15px;
  color: #4e4d4d;
  &:focus,
  &:hover {
    outline: 0;
    background: #f3f3f3;
  }
}
// .search-bar {
//   display: flex;
//   background-color: white;
//   width: 50%;
//   border-radius: 24px;
//   overflow: hidden;
//   align-items: center;
//   border: 1px solid white;
//   margin-bottom: 5%;

//   form {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     input {
//       background: transparent;
//       height: 40px;
//       padding: 0 16px;
//       align-items: center;
//       border: none;
//       flex-grow: 1;
//       border-radius: 24px;

//       &:focus,
//       &:hover {
//         outline: 0;
//         background: #f3f3f3;
//       }
//     }
//   }
// }


