.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282D33;
  // background-color: #385447;
  height: 55px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-links a {
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #d8d8d8;
}

.footer-links a:hover {
  color: white;
}
