.navbar-lewagon {
  justify-content: space-between;
  background: #282D33;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 80px;
  margin-left: 20px;

  &:hover {
    transform: scale(1.01);
  }
}

.info {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;

  a {
    color: #d8d8d8;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}

.nav-item a {
  color: #282D33;

  &:hover {
    color: #282D33;
  }
}

.fa-shopping-bag {
  font-size: 23px;
  position: relative;
}

.fa-heart {
  font-size: 23px;
}

.counter-cart {
  width: 17px;
  height: 17px;
  background: #3e9cb9;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  position: absolute;
  right: 100px;
  top: 39px;
}

#number {
  color: white;
  font-size: 13px;
}
